$silver-background: #bdbdbd;
$fade-black: #424242;
$border: 1px black solid;
$accent-color: #607d8b;
$focused-border: 1px #e64a19 solid;
$classic-grey: rgb(239, 239, 239);

$body-color: #E8E6E1;

$warm-grey100: #faf9f7;
$warm-grey200: #e8e6e1;
$warm-grey300: #d3cec4;
$warm-grey900: #27241d;

$red600: #ba2525;

$text-size: 14px;
$accent-text-size: 16px;
