@import "variables";
@import "mixins";

.cards__grid {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &--actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &--cards {
    border: none;
    padding: 0;
  }
}
