@import "variables";
@import "mixins";

.cards__grid {
  padding: 10px;
  text-align: center;

  &--cards-row {
    border: none;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
