@import "variables";
@import "mixins";

.create__product__form--container {
  img {
    border: none;
    padding: 5px;
  }

  .create__product__form {
    padding: 5px;
    border: none;

    .input {
      padding: 5px;
      display: flex;
      align-items: center;

      input,
      textarea {
        margin: 5px;
      }
    }
  }
}
