@import "variables";
@import "mixins";

.main__filters {
  &--container {
    font-size: 16px;

    @media (max-width: 768px) {
      margin: 10px 0;
      padding: 10px 5px;
      display: flex;
    }
  }

  &--action {
    @media (max-width: 768px) {
      border: $border;
      margin: 10px;
    }
  }

  &--button {
    @include pagination_button(false);
    margin: 5px;
    padding: 5px;

    &--active {
      @include pagination_button(true);
      margin: 5px;
      padding: 5px;
    }
  }
}
