@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~normalize.css";

@import "grid/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
