@import "variables";
@import "mixins";

.manage__products--container {
  display: flex;
  align-items: center;
  flex-direction: column;

  button {
    @include button();
  }

  .update__product__form--container {
    .edit__icons {
      display: flex;
      justify-content: flex-end;

      &--icon {
        cursor: pointer;

        &:hover {
          color: $accent-color;
        }
      }
    }

    .--editable {
      cursor: default;

      .edit__icons > * {
        opacity: 0;
      }

      &:hover {
        border: $border;

        .edit__icons > * {
          opacity: 1;
        }
      }

      .edit__icons {
        &--actions {
          opacity: 1;
        }
      }
    }

    .--focus {
      border: $focused-border;

      &:hover {
        border: $focused-border;
      }
    }
  }

  .create__product__form--container {
    margin-bottom: 10px;

    img {
      border: none;
      padding: 5px;
    }

    .create__product__form {
      padding: 5px;
      border: none;

      &--body {
        border: none;
      }

      &--inputs {
        border: none;
      }

      .input {
        padding: 5px;
        display: flex;
        align-items: center;

        input,
        textarea {
          margin: 5px;
        }
      }
    }
  }
}
