@import "variables";
@import "mixins";

.product__card--container {
  border: none;

  .product__card {
    margin: 5px;
    border: 1px black solid;

    .product__card--title {
      margin: 5px;
      font-size: 16px;
    }

    .product__card--description {
      margin-top: 5px;
      font-size: 14px;
    }

    .product__card--price {
      margin-top: 5px;
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
    }

    .product__card--buttons {
      border-top: 1px black solid;

      button {
        border: 1 none;
        margin: 5px 2px;
        max-width: 100%;
        font-size: 18px;
      }
    }

    .product__card--image {
      max-width: 400px;

      img {
        max-width: 90%;
        height: auto;
        padding: 5px;
        object-fit: contain;
      }
    }
  }
}
