@import "variables";
@import "mixins";

.product__card--container {
  border: none;

  .product__card {
    margin: 5px;
    border: 1px black solid;

    &--title {
      margin: 5px;
      font-size: 16px;
    }

    &--description {
      margin-top: 5px;
      font-size: 14px;
      padding: 5px;
    }

    &--price {
      margin: 5px 0;
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
    }

    &--buttons {
      border-top: 1px black solid;

      button {
        border: 1 none;
        margin: 5px 2px;
        max-width: 100%;
        font-size: 16px;
        padding: 2px;
      }
    }

    &--image {
      max-width: 400px;

      img {
        max-width: 90%;
        height: auto;
        padding: 5px;
        object-fit: contain;
      }
    }
  }
}
