$grid-columns: 12;

@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: percentage($i / $grid-columns);
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  @for $i from 1 through $grid-columns {
    .grid-sm-#{$i} {
      width: percentage($i / $grid-columns);
    }
  }
}

@media (max-width: 768px) {
  @for $i from 1 through $grid-columns {
    .grid-xs-#{$i} {
      width: percentage($i / $grid-columns);
    }
  }
}
